{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">
                <option selected disabled value="">Select Stock Symbol</option>
                {% for stock in stocks %}
                <option value="{{ stock.stock_symbol }}">{{ stock.stock_symbol }}</option>
                {% endfor %}
            </select>
        </div>
         <div class="form-group">
            <input type="text" class="form-control" placeholder="# of Shares" name="shares">
        </div>
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}